.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 49px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

.underline-offset {
  text-underline-offset: 3px;
}

.header__logo-image {
  display: block;
  height: 109px;
  width: 137px;
}

.address {
  all: unset;
  font-size: 18px;
  line-height: 24.3px;
  color: #000000;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  padding-bottom: 1px;
}

.address-decoration-none {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  min-height: 754px;
  margin-bottom: 180px;
}

.cover-title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #ffffff;
  padding: 164px 20px 107px 50px;
}

.aligned-text {
  display: block;
  font-size: 100px;
  line-height: 114px;
  font-weight: 700;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid white;
}

.lots {
  margin: 0px 24px 120px 24px;
}

.lots__heading {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #ffffff;
}

.card__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0px 0px 26px 40px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 33px;
}

.no-underline {
  text-decoration: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 597px;
  list-style: none;
  position: relative;
}

.card {
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 48px 40px;
  background-size: cover;
  background-position: center;
}

.card__text {
  position: relative;
  height: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.section-title {
  padding: 0px 50px 0px 50px;
}

.card-flex-book {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 50px 40px 48px 40px;
}

.card-flex-picture {
  display: flex;
  flex-direction: column;
  gap: 129px;
  padding: 50px 40px 48px 40px;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  padding-left: 40px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.margin-section {
  margin-bottom: 168px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0px 0px 71px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about-content {
  width: 693px;
  margin: 139px 0px 13px 49px;
  display: flex;
  flex-direction: column;
  gap: 103px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text-paragraf {
  width: 688px;
}

.about__paragraf-text {
  width: 693px;
}

.footer {
  display: grid;
  grid-template-columns: 243px 3fr 1fr;
  padding: 0px 50px 82px 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  width: 264px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
